<!-- templates/races/index.html -->

{% extends 'base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}

<section class="mgmt-strip team-mgmt-section gray-back">
    <div class="wrap">
        <header class="region {% if not team.league %}t-9 d-9 w-9{% endif %}">
            <h1 class="title">{{ team.name }}</h1>
            {% if team.league %}
                <p><a href="{% url 'races:league_show' team.league.id %}">{{ team.league }}</a></p>
            {% endif %}
            {% if team_belongs_to_user and not team.league %}
                <p>Your team won't be able to race unless you <a href="{% url 'races:team_join_league' team.id %}">join a league</a>.</p>
            {% endif %}
        </header>
        {% if not team.league %}
        <div class="cta-region region t-3 d-3 w-3">
            <a href="{% url 'races:team_join_league' team.id %}" class="btn alert-high">Join League</a>
        </div>
        {% endif %}
    </div>
</section>

{% if team_belongs_to_user %}
<section>
    <div class="wrap">
        <header class="region">
            <h2>Manage Races</h2>
        </header>
        <div class="region">
            {% if races %}
                <table>
                    <thead>
                        <tr>
                            <th>Manage</th>
                            <th>Race</th>
                            <th>Date</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race in races %}
                            <tr>
                                <td>
                                    {% if race.is_locked %}
                                        ---
                                    {% else %}
                                        {% if race.has_roster %}
                                            <a href="{% url 'races:team_race_draft' id=team.id slug=race.slug %}" class="manage-races-alert_level-yellow">Manage Roster</a>
                                        {% else %}
                                            <a href="{% url 'races:team_race_draft' id=team.id slug=race.slug %}" class="manage-races-alert_level-red">Create Roster</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <h3><a href="{% url 'races:team_race' id=team.id slug=race.slug %}" class="tr_title">{{ race.name }}</a></h3>
                                </td>
                                <td>{{ race.starts }}</td>
                                <td>
                                    {% if race.results %}
                                        <a href="{% url 'races:team_race' id=team.id slug=race.slug %}">See Results</a>
                                    {% else %}
                                        n/a
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are not yet any scheduled races.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}


<section class="gray-back">
    <div class="wrap">
        <header class="region">
            <h2>Race Schedule</h2>
        </header>
        <div class="region">
            {% if races %}
                <ul class="card-set flexgrid m1-one m2-two t-two d-two w-three">
                    {% for race in races %}
                        <li class="card-set-item">
                            <article class="race-card card">
                                <figure class="image-space"><a href="{% url 'races:team_race' id=team.id slug=race.slug %}"></a></figure>
                                <header class="text-space">
                                    <h3 class="title"><a href="{% url 'races:team_race' id=team.id slug=race.slug %}">{{ race.name }}</a></h3>
                                    <p>{{ race.starts }}</p>
                                    <p>{{ race.description }}</p>
                                    {% if race.results %}
                                        <h4>Results</h4>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Place</th>
                                                    <th>Team</th>
                                                    <th>Points</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for r in race.results.finishers %}
                                                    <tr>
                                                        <td>{{ r.place }}</td>
                                                        <td><a href="{% url 'races:rider_show' race.id %}">{{ r.rider }}</a></td>
                                                        <td>{{ r.points }}</td>
                                                    </tr>
                                                {% endfor %}
                                                {% if race.results.dnf %}
                                                    {% for r in race.results.dnf %}
                                                        <tr class="dnf">
                                                            <td>--</td>
                                                            <td><a href="{% url 'races:rider_show' race.id %}">{{ r.rider }}</a></td>
                                                            <td>--</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td>{{ race.results.roster_total }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </header>
                            </article>
                        </li>
                    {% endfor %}
                </ul>    
            {% else %}
                <p>There are no races available yet.</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}