<!-- templates/leagues/join.html -->

{% extends 'base.html' %}

{% block title %}Join a League{% endblock %}

{% block content %}

<section>
    <div class="wrap">
        <header class="section-header region">
            <h1 class="page-title">Available Leagues</h1>
        </header>
        <div class="section-content region">

            {% if team_belongs_to_user %}

                {{ form.non_field_errors }}
                {{ form.errors }}
                {% if joinable_leagues %}
                    <table>
                        <thead>
                            <tr>
                                <th>League</th>
                                <th>Type</th>
                                <th>Password</th>
                                <th>Join</th>
                            </tr>
                        </thead>   
                        <tbody>
                        {% for league in joinable_leagues %}
                            <tr>
                                <form action="{% url 'races:team_join_league' team.id %}" method="post">
                                    {% csrf_token %}
                                    <td>{{ league }}</td>
                                    <td>{{ league.access_type }}</td>
                                    <td>
                                        {% if league.is_private %}
                                            {{ form.password }}
                                        {% else %}
                                            n/a
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="hidden" name="league_id" value="{{ league.id }}">
                                        <input type="submit" value="Join">
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody> 
                    </table>
                {% else %}
                    <p>Sorry, but there are no leagues available to join.</p>
                {% endif %}
            {% else %}
                <p>Sorry Charlie — this ain't your team.</p>
            {% endif %}
        </div>
    </div>
</section>

{% if unavailable_leagues %}
<section>
    <div class="wrap">
        <header class="section-header region">
            <h2 class="section-title">Unavailable Leagues</h2>
        </header>
        <table class="section-content region">
            <thead>
                <tr>
                    <th>League</th>
                    <th>Type</th>
                    <th>Teams</th>
                </tr>
            </thead>   
            <tbody>
                {% for league in unavailable_leagues %}
                    <tr>
                        <td>{{ league }}</td>
                        <td>{{ league.access_type }}</td>
                        <td>{{ league.team_set.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}

{% endblock %}