<!-- templates/leagues/join.html -->

{% extends 'base.html' %}

{% block title %}Join a League{% endblock %}

{% block content %}

<section>
    <div class="wrap">
        <header class="section-header region">
            <h2 class="section-title">Available Leagues</h2>
        </header>
        <div class="section-content region">
            {% if joinable_leagues %}
                <table>
                    <thead>
                        <tr>
                            <th>League</th>
                            <th>Type</th>
                            <th>Password</th>
                            <th>Join</th>
                        </tr>
                    </thead>   
                    <tbody>
                    {% for league in joinable_leagues %}
                        <tr>
                            <form action="{% url 'races:team_join_league' team.id %}" method="post">
                                <td>{{ league }}</td>
                                <td>{{ league.access_type }}</td>
                                <td>
                                    {% if league.is_private %}
                                        {{ form.password }}
                                    {% else %}
                                        n/a
                                    {% endif %}
                                </td>
                                <td>
                                    <input type="hidden" name="league" value="{{ league.id }}">
                                    <input type="submit" value="Join">
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody> 
                </table>
            {% else %}
                <p>Sorry, but there are no leagues available to join.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}