<!-- templates/teams/race.html -->

{% extends 'base.html' %}

{% block title %}{{ race.name }}{% endblock %}

{% block content %}

{% include "components/race-marquee.html" %}


<nav class="prev-next-race-nav">
    <div class="wrap">
      <div class="region">
        <ul class="prev-next-race-nav-list">
          {% if race_prev %}
            <li><a href="{% url 'races:team_race' id=team.id slug=race_prev.slug %}" class="left prev">{{ race_prev.name }}<span class="date">{{ race.starts }}</span></a></li>
          {% else %}
            <li><a href="/" class="left home">All Races</a></li>
          {% endif %}
          {% if race_next %}
            <li><a href="{% url 'races:team_race' id=team.id slug=race_next.slug %}" class="right next">{{ race_next.name }}<span class="date">{{ race.starts }}</span></a></li>
          {% else %}
            <li><a href="/" class="right home">All Races</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>


<section class="team-mgmt-section mgmt-strip gray-back">
    <div class="wrap">

      <header class="region t-9 d-9 w-9">
        <h2><a href="{% url 'races:team_show' team.id %}">{{ team.name }}</a></h2>
        {% if team.league %}
          <p><a href="{% url 'races:league_show' team.league.id %}">{{ team.league }}</a></p>
        {% else %}
          {% if team_belongs_to_user %}
            <p>Your team won't be able to race unless you <a href="{% url 'races:team_join_league' team.id %}">join a league</a>.</p>
          {% endif %}
        {% endif %}
      </header>

      {% if team_belongs_to_user and not race.is_locked %}
        <div class="cta-region region t-3 d-3 w-3">
          {% if roster %}
            <a href="{% url 'races:team_race_draft' team.id race.slug %}" class="btn alert-medium">Edit Roster</a>
          {% else %}
            {% if picks %}
              <a href="{% url 'races:team_race_draft' team.id race.slug %}" class="btn alert-high">Create Roster</a>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

    </div>
</section>

<section>
  <div class="wrap">
    <header class="section-header region">
      <h3 class="section-title">{{ messages.table_hed }}</h3>
    </header>
    <div class="section-content region">
      
      {% if race.has_result_data %}

        <div class="race-results" data-ui="tabs">

          <nav>
            <ul>
              <li><a href="#team-panel">Team</a></li>
              <li><a href="#league-panel">League</a></li>
              <li><a href="#overall-panel">Race</a></li>
            </ul>
          </nav>
          
          <div id="team-panel" class="panel team">
            <h4>Team Results</h4>
            {% if 'team_finishers' in rows %}
              <table class="race-results-table">
                <thead>
                  <tr>
                    <th class="headstone">Place</th>
                    <th class="rider">Rider</th>
                    <th class="prospects">Prospects</th>
                    <th class="points">Points</th>
                  </tr>
                </thead>
                <tbody>
                  {% for r in rows.team_finishers %}
                    {% include "components/results-table-row.html" with status="" %}
                  {% endfor %}
                  {% if 'team_dnf' in rows %}
                    {% for r in rows.team_dnf %}
                      {% include "components/results-table-row.html" with status="dnf" %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            {% else %}
              <p class="empty-results-explanation">{{ messages.no_team_results }}</p>
            {% endif %}
          </div>

          <div id="league-panel" class="panel league">
            <h4>League Results</h4>
            {% if 'league_results' in rows %}
              <table class="league-results-table">
                <thead>
                  <tr>
                    <th class="headstone place">Place</th>
                    <th class="team">Team</th>
                    <th class="points">Points</th>
                  </tr>
                </thead>
                <tbody>
                  {% for t in rows.league_results %}
                    <tr>
                      <td class="headstone place">{{ t.place }}</td>
                      <td class="team"><a href="{% url 'races:team_race' id=t.id slug=race.slug %}">{{ t.name }}</a></td>
                      <td class="points">{{ t.points }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="empty-results-explanation">{{ messages.no_league_results }}</p>
            {% endif %}
          </div>
          
          <div id="overall-panel" class="panel overall">
            <h4>Race Results</h4>
            {% if 'race_finishers' in rows %}
              <table class="race-results-table">
                <thead>
                  <tr>
                    <th class="headstone place">Place</th>
                    <th class="rider">Rider</th>
                    <th class="prospects">Prospects</th>
                    <th class="points">Points</th>
                  </tr>
                </thead>
                <tbody>
                  {% for r in rows.race_finishers %}
                    {% include "components/results-table-row.html" with status="" %}
                  {% endfor %}
                  {% if 'race_dnf' in rows %}
                    {% for r in rows.race_dnf %}
                      {% include "components/results-table-row.html" with status="dnf" %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            {% else %}
              <p class="empty-results-explanation">{{ messages.no_overall_results }}</p>
            {% endif %}
          </div>

        </div>
      
      {% else %}

        {% if team_belongs_to_user %}
        
          {% if roster %}

            {% include "teams/race-table-team-roster-ready.html" %}

          {% else %}

            {% if picks %}

              {% include "teams/form-draft.html" %}

            {% else %}
            
              <p class="empty-results-explanation">{{ messages.no_participants }}</p>

            {% endif %}

          {% endif %}

        {% else %}
          <p>{{ messages.no_results_for_this_team }}</p>
        {% endif %}

      {% endif %}
    </div>
  </div>
</section>

{% endblock %}