/* =============
BASICS
================ */
.wrap {
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}
@media only screen and (min-width: 768px) {
  .wrap {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .region {
    grid-column: span 12;
  }
  .region.m1-1 {
    grid-column: span 1;
  }
  .region.m1-2 {
    grid-column: span 2;
  }
  .region.m1-3 {
    grid-column: span 3;
  }
  .region.m1-4 {
    grid-column: span 4;
  }
  .region.m1-5 {
    grid-column: span 5;
  }
  .region.m1-6 {
    grid-column: span 6;
  }
  .region.m1-7 {
    grid-column: span 7;
  }
  .region.m1-8 {
    grid-column: span 8;
  }
  .region.m1-9 {
    grid-column: span 9;
  }
  .region.m1-10 {
    grid-column: span 10;
  }
  .region.m1-11 {
    grid-column: span 11;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .region {
    grid-column: span 12;
  }
  .region.m2-1 {
    grid-column: span 1;
  }
  .region.m2-2 {
    grid-column: span 2;
  }
  .region.m2-3 {
    grid-column: span 3;
  }
  .region.m2-4 {
    grid-column: span 4;
  }
  .region.m2-5 {
    grid-column: span 5;
  }
  .region.m2-6 {
    grid-column: span 6;
  }
  .region.m2-7 {
    grid-column: span 7;
  }
  .region.m2-8 {
    grid-column: span 8;
  }
  .region.m2-9 {
    grid-column: span 9;
  }
  .region.m2-10 {
    grid-column: span 10;
  }
  .region.m2-11 {
    grid-column: span 11;
  }
}
@media only screen and (min-width: 768px) {
  .wrap {
    grid-gap: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  .wrap {
    width: 720px;
  }

  .region {
    grid-column: span 12;
  }
  .region.t-1 {
    grid-column: span 1;
  }
  .region.t-2 {
    grid-column: span 2;
  }
  .region.t-3 {
    grid-column: span 3;
  }
  .region.t-4 {
    grid-column: span 4;
  }
  .region.t-5 {
    grid-column: span 5;
  }
  .region.t-6 {
    grid-column: span 6;
  }
  .region.t-7 {
    grid-column: span 7;
  }
  .region.t-8 {
    grid-column: span 8;
  }
  .region.t-9 {
    grid-column: span 9;
  }
  .region.t-10 {
    grid-column: span 10;
  }
  .region.t-11 {
    grid-column: span 11;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  .wrap {
    width: 960px;
  }

  .region {
    grid-column: span 12;
  }
  .region.d-1 {
    grid-column: span 1;
  }
  .region.d-2 {
    grid-column: span 2;
  }
  .region.d-3 {
    grid-column: span 3;
  }
  .region.d-4 {
    grid-column: span 4;
  }
  .region.d-5 {
    grid-column: span 5;
  }
  .region.d-6 {
    grid-column: span 6;
  }
  .region.d-7 {
    grid-column: span 7;
  }
  .region.d-8 {
    grid-column: span 8;
  }
  .region.d-9 {
    grid-column: span 9;
  }
  .region.d-10 {
    grid-column: span 10;
  }
  .region.d-11 {
    grid-column: span 11;
  }
}
@media only screen and (min-width: 1240px) {
  .wrap {
    width: 1176px;
  }

  .region {
    grid-column: span 12;
  }
  .region.w-1 {
    grid-column: span 1;
  }
  .region.w-2 {
    grid-column: span 2;
  }
  .region.w-3 {
    grid-column: span 3;
  }
  .region.w-4 {
    grid-column: span 4;
  }
  .region.w-5 {
    grid-column: span 5;
  }
  .region.w-6 {
    grid-column: span 6;
  }
  .region.w-7 {
    grid-column: span 7;
  }
  .region.w-8 {
    grid-column: span 8;
  }
  .region.w-9 {
    grid-column: span 9;
  }
  .region.w-10 {
    grid-column: span 10;
  }
  .region.w-11 {
    grid-column: span 11;
  }
}
ul.flexgrid {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  ul.flexgrid.m1-two, ul.flexgrid.m2-two, ul.flexgrid.m2-three {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  ul.flexgrid.m1-two > *, ul.flexgrid.m2-two > *, ul.flexgrid.m2-three > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  @supports not (display: flex) {
    ul.flexgrid.m1-two > *, ul.flexgrid.m2-two > *, ul.flexgrid.m2-three > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
@media only screen and (max-width: 480px) {
  ul.flexgrid.m1-two > * {
    width: 46%;
    width: calc(50% - 1rem);
  }
  ul.flexgrid.m1-two > *:nth-child(2n+1):nth-last-child(-n+2),
  ul.flexgrid.m1-two > *:nth-child(2n+1):nth-last-child(-n+2) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  ul.flexgrid.m1-three > * {
    width: 27%;
    width: calc(33.33% - 1rem);
  }
  ul.flexgrid.m1-three > *:nth-child(3n+1):nth-last-child(-n+3),
  ul.flexgrid.m1-three > *:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  ul.flexgrid.m2-two > * {
    width: 46%;
    width: calc(50% - 1rem);
  }
  ul.flexgrid.m2-two > *:nth-child(2n+1):nth-last-child(-n+2),
  ul.flexgrid.m2-two > *:nth-child(2n+1):nth-last-child(-n+2) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  ul.flexgrid.m2-three > * {
    width: 27%;
    width: calc(33.33% - 1rem);
  }
  ul.flexgrid.m2-three > *:nth-child(3n+1):nth-last-child(-n+3),
  ul.flexgrid.m2-three > *:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  ul.flexgrid.t-two, ul.flexgrid.t-three, ul.flexgrid.t-four, ul.flexgrid.t-five {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  ul.flexgrid.t-two > *, ul.flexgrid.t-three > *, ul.flexgrid.t-four > *, ul.flexgrid.t-five > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  @supports not (display: flex) {
    ul.flexgrid.t-two > *, ul.flexgrid.t-three > *, ul.flexgrid.t-four > *, ul.flexgrid.t-five > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  ul.flexgrid.t-two > * {
    width: 44%;
    width: calc(50% - 1rem);
  }
  ul.flexgrid.t-two > *:nth-child(2n+1):nth-last-child(-n+2),
  ul.flexgrid.t-two > *:nth-child(2n+1):nth-last-child(-n+2) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  ul.flexgrid.t-three > * {
    width: 27%;
    width: calc(33.33% - 1rem);
  }
  ul.flexgrid.t-three > *:nth-child(3n+1):nth-last-child(-n+3),
  ul.flexgrid.t-three > *:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  ul.flexgrid.t-four > * {
    width: 19%;
    width: calc(25% - 1rem);
  }
  ul.flexgrid.t-four > *:nth-child(4n+1):nth-last-child(-n+4),
  ul.flexgrid.t-four > *:nth-child(4n+1):nth-last-child(-n+4) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px) {
  ul.flexgrid.t-five > * {
    width: 14%;
    width: calc(20% - 1rem);
  }
  ul.flexgrid.t-five > *:nth-child(5n+1):nth-last-child(-n+5),
  ul.flexgrid.t-five > *:nth-child(5n+1):nth-last-child(-n+5) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-two, ul.flexgrid.d-three, ul.flexgrid.d-four, ul.flexgrid.d-five, ul.flexgrid.d-six {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  ul.flexgrid.d-two > *, ul.flexgrid.d-three > *, ul.flexgrid.d-four > *, ul.flexgrid.d-five > *, ul.flexgrid.d-six > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  @supports not (display: flex) {
    ul.flexgrid.d-two > *, ul.flexgrid.d-three > *, ul.flexgrid.d-four > *, ul.flexgrid.d-five > *, ul.flexgrid.d-six > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-two > * {
    width: 44%;
    width: calc(50% - 1rem);
  }
  ul.flexgrid.d-two > *:nth-child(2n+1):nth-last-child(-n+2),
  ul.flexgrid.d-two > *:nth-child(2n+1):nth-last-child(-n+2) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-three > * {
    width: 27%;
    width: calc(33.33% - 1rem);
  }
  ul.flexgrid.d-three > *:nth-child(3n+1):nth-last-child(-n+3),
  ul.flexgrid.d-three > *:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-four > * {
    width: 19%;
    width: calc(25% - 1rem);
  }
  ul.flexgrid.d-four > *:nth-child(4n+1):nth-last-child(-n+4),
  ul.flexgrid.d-four > *:nth-child(4n+1):nth-last-child(-n+4) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-five > * {
    width: 14%;
    width: calc(20% - 1rem);
  }
  ul.flexgrid.d-five > *:nth-child(5n+1):nth-last-child(-n+5),
  ul.flexgrid.d-five > *:nth-child(5n+1):nth-last-child(-n+5) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1239px) {
  ul.flexgrid.d-six > * {
    width: 12%;
    width: calc(16.667% - 1rem);
  }
  ul.flexgrid.d-six > *:nth-child(6n+1):nth-last-child(-n+6),
  ul.flexgrid.d-six > *:nth-child(6n+1):nth-last-child(-n+6) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-two, ul.flexgrid.w-three, ul.flexgrid.w-four, ul.flexgrid.w-five, ul.flexgrid.w-six {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  ul.flexgrid.w-two > *, ul.flexgrid.w-three > *, ul.flexgrid.w-four > *, ul.flexgrid.w-five > *, ul.flexgrid.w-six > * {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  @supports not (display: flex) {
    ul.flexgrid.w-two > *, ul.flexgrid.w-three > *, ul.flexgrid.w-four > *, ul.flexgrid.w-five > *, ul.flexgrid.w-six > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-two > * {
    width: 44%;
    width: calc(50% - 1rem);
  }
  ul.flexgrid.w-two > *:nth-child(2n+1):nth-last-child(-n+2),
  ul.flexgrid.w-two > *:nth-child(2n+1):nth-last-child(-n+2) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-three > * {
    width: 27%;
    width: calc(33.33% - 1rem);
  }
  ul.flexgrid.w-three > *:nth-child(3n+1):nth-last-child(-n+3),
  ul.flexgrid.w-three > *:nth-child(3n+1):nth-last-child(-n+3) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-four > * {
    width: 19%;
    width: calc(25% - 1rem);
  }
  ul.flexgrid.w-four > *:nth-child(4n+1):nth-last-child(-n+4),
  ul.flexgrid.w-four > *:nth-child(4n+1):nth-last-child(-n+4) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-five > * {
    width: 14%;
    width: calc(20% - 1rem);
  }
  ul.flexgrid.w-five > *:nth-child(5n+1):nth-last-child(-n+5),
  ul.flexgrid.w-five > *:nth-child(5n+1):nth-last-child(-n+5) ~ li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1240px) {
  ul.flexgrid.w-six > * {
    width: 12%;
    width: calc(16.667% - 1rem);
  }
  ul.flexgrid.w-six > *:nth-child(6n+1):nth-last-child(-n+6),
  ul.flexgrid.w-six > *:nth-child(6n+1):nth-last-child(-n+6) ~ li {
    margin-bottom: 0;
  }
}

ul.equal {
  display: flex;
  flex-wrap: wrap;
}

@supports (display: grid) {
  ul.flexgrid {
    display: grid;
    grid-gap: 1rem;
    hyphens: auto;
    margin: 0 !important;
  }
  ul.flexgrid > * {
    margin: 0;
    width: 100% !important;
  }
  @media only screen and (max-width: 480px) {
    ul.flexgrid.m1-two {
      grid-template-columns: 1fr 1fr;
    }
    ul.flexgrid.m1-three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    ul.flexgrid.m1-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    ul.flexgrid.m1-two, ul.flexgrid.m1-three, ul.flexgrid.m1-four {
      display: grid;
    }
    ul.flexgrid.m1-two > *, ul.flexgrid.m1-three > *, ul.flexgrid.m1-four > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    ul.flexgrid.m2-two {
      grid-template-columns: 1fr 1fr;
    }
    ul.flexgrid.m2-three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    ul.flexgrid.m2-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    ul.flexgrid.m2-two, ul.flexgrid.m2-three, ul.flexgrid.m2-four {
      display: grid;
    }
    ul.flexgrid.m2-two > *, ul.flexgrid.m2-three > *, ul.flexgrid.m2-four > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1029px) {
    ul.flexgrid.t-two {
      grid-template-columns: 1fr 1fr;
    }
    ul.flexgrid.t-three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    ul.flexgrid.t-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    ul.flexgrid.t-two, ul.flexgrid.t-three, ul.flexgrid.t-four {
      display: grid;
    }
    ul.flexgrid.t-two > *, ul.flexgrid.t-three > *, ul.flexgrid.t-four > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1030px) and (max-width: 1239px) {
    ul.flexgrid.d-two {
      grid-template-columns: 1fr 1fr;
    }
    ul.flexgrid.d-three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    ul.flexgrid.d-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    ul.flexgrid.d-two, ul.flexgrid.d-three, ul.flexgrid.d-four {
      display: grid;
    }
    ul.flexgrid.d-two > *, ul.flexgrid.d-three > *, ul.flexgrid.d-four > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1240px) {
    ul.flexgrid.w-two {
      grid-template-columns: 1fr 1fr;
    }
    ul.flexgrid.w-three {
      grid-template-columns: 1fr 1fr 1fr;
    }
    ul.flexgrid.w-four {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    ul.flexgrid.w-two, ul.flexgrid.w-three, ul.flexgrid.w-four {
      display: grid;
    }
    ul.flexgrid.w-two > *, ul.flexgrid.w-three > *, ul.flexgrid.w-four > * {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}

main > section {
  padding: 1rem 0;
}
@media only screen and (min-width: 768px) {
  main > section {
    padding: 3rem 0;
  }
}

/* =============
COMPONENTS
================ */
.gray-back {
  background: #ddd;
}

.race-marquee {
  background: blue;
  min-height: 33vh;
}
.race-marquee .wrap {
  align-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.race-marquee .wrap > * {
  background: white;
  padding: 1rem;
  text-align: center;
}
.race-marquee .intro {
  grid-row-start: span 3;
  grid-column-start: span 2;
}
.race-marquee .intro .title {
  margin: 0 0 0.5rem 0;
}
.race-marquee .intro p:last-child {
  margin: 0;
}
.race-marquee .map {
  grid-row-start: span 1;
  grid-column-start: span 2;
}
.race-marquee .map a {
  text-decoration: none;
}
.race-marquee .distance {
  grid-row-start: span 1;
  grid-column-start: span 2;
}
.race-marquee .start-city {
  grid-row-start: span 1;
  grid-column-start: span 1;
}
.race-marquee .end-city {
  grid-row-start: span 1;
  grid-column-start: span 1;
}

.site-footer {
  background: black;
  bottom: 0;
  color: white;
  left: 0;
  position: absolute;
  width: 100%;
}
.site-footer .region {
  padding: 1rem 0;
}

table {
  table-layout: fixed;
  width: 100%;
}
table h1, table h2, table h3, table h4, table h5, table h6, table p {
  margin: 0;
}

thead {
  display: none;
}
@media only screen and (min-width: 768px) {
  thead {
    display: table-header-group;
  }
}

th {
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0 1rem 0.25rem 1rem;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  th.race-info {
    position: relative;
    text-align: center;
  }
}

td.race-info {
  font-size: 0.9rem;
}
@media only screen and (min-width: 768px) {
  td.race-info {
    text-align: center;
  }
}

tr {
  border-bottom: 1px dotted gray;
  display: block;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  tr {
    display: table-row;
    padding-bottom: 0;
  }
}
tr .tr_title,
tr .tr_subtitle {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
tr .tr_title {
  font-weight: 200;
}
tr a.tr_title {
  text-decoration: none;
}
tr a.tr_title:hover {
  text-decoration: underline;
}

td, th {
  display: block;
  position: relative;
}
@media only screen and (min-width: 768px) {
  td, th {
    display: table-cell;
  }
}

td {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  td {
    border-bottom: 1px dotted gray;
    padding: 1rem;
  }
}

td:before {
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  td:before {
    display: none;
  }
}

td.time-info:before {
  content: 'Time: ';
}
td.gap:before {
  content: 'Gap: ';
}
td.points:before {
  content: 'Points: ';
}
td.stage-points:before {
  content: 'Stage Points: ';
}
td.finishing:before {
  content: 'Finishing Points: ';
}
td.sprint:before {
  content: 'Sprint Points: ';
}
td.mountain:before {
  content: 'Mountain Points: ';
}
td.combat:before {
  content: 'Combativity Points: ';
}
td.young:before {
  content: 'Best Young Rider Points: ';
}
td.prospects:before {
  content: 'Prospects: ';
}
td.total:before {
  content: 'Total Points: ';
}

tr.dnf {
  opacity: 0.5;
}

th.headstone {
  width: 4%;
}
@media only screen and (min-width: 481px) {
  th.headstone {
    width: 3%;
  }
}

td.headstone {
  background: yellow;
  background: red;
  color: white;
  font-weight: 400;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  td.headstone:after {
    border-bottom: 1px dotted white;
    bottom: -1px;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

tr:last-child td {
  border: none;
}
tr:last-child td.headstone:after {
  border-bottom: 1px dotted gray;
}

th.rider-info {
  width: 45%;
}

.headerSortDown,
.headerSortUp {
  font-weight: 400;
  text-decoration: underline;
}

.js .tablesorter th:not(.no-sort) {
  cursor: pointer;
}
.js .tablesorter th:not(.no-sort):hover {
  text-decoration: underline;
}
.js .tablesorter th:not(.no-sort):nth-child(1) {
  cursor: default;
}
.js .tablesorter th:not(.no-sort):nth-child(1):hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .race-results-table th.prospects,
  .race-results-table th.points,
  .race-draft-table th.prospects,
  .race-draft-table th.points {
    text-align: center;
    width: 5%;
  }
  .race-results-table td.prospects,
  .race-results-table td.points,
  .race-draft-table td.prospects,
  .race-draft-table td.points {
    text-align: center;
  }
}

.btn {
  background: black;
  border: none;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.btn.alert-high {
  background: red;
}

.button-set {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button-set li {
  display: inline-block;
}

.card-set-item {
  border: 1px solid gray;
  background: white;
}

.card a {
  text-decoration: none;
}
.card header {
  padding: 1rem;
}
.card .title {
  margin: 0;
}
.card:hover a .title {
  text-decoration: underline;
}
.card .race-results-list {
  margin: 0;
  padding: 0 0 0 1rem;
}
.card ul.race-results-list {
  list-style: none;
  padding: 0;
}
.card tbody td {
  padding: 0.25rem 0.5rem;
}

.my-teams-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.my-teams-list li {
  margin-bottom: 0.5rem;
}
.my-teams-list li:last-child {
  margin: 0;
}

.site-header {
  background: black;
  color: white;
  padding: 1rem 0;
}
.site-header p {
  margin: 0;
}
.site-header a {
  color: white;
}
.site-header .wrap {
  height: 1rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .site-header {
    padding: 0;
  }
  .site-header .wrap {
    align-items: center;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu-toggle,
  .mobile-toggle-label {
    display: none;
  }
}

.main-menu {
  background: #303030;
  box-sizing: border-box;
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 2rem;
  width: 100%;
}
.main-menu > li:last-child li:last-child a {
  border-bottom: none;
}
.main-menu a {
  border-bottom: 1px solid #505050;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.main-menu a:hover {
  text-decoration: underline;
}
.main-menu a.main-menu_create-new-team {
  color: #78AB46;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu ul a {
  padding-left: 1rem;
  position: relative;
}
.main-menu ul a:before {
  content: ' - ';
}
@media only screen and (min-width: 768px) {
  .main-menu {
    background: none;
    display: inline-block;
    position: relative;
    top: auto;
    width: auto;
  }
  .main-menu ul {
    background: #303030;
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    width: 200px;
    z-index: 1;
  }
  .main-menu ul a:before {
    content: none;
  }
  .main-menu > li {
    display: inline-block;
    position: relative;
  }
  .main-menu > li a {
    border: none;
  }
  .main-menu > li:hover > ul {
    display: block;
  }
}

.main-menu-toggle:checked ~ ul {
  display: block;
}

.site-header_login-region {
  text-align: right;
}

.mgmt-strip .title {
  margin: 0 0 0.5rem 0;
}
@media only screen and (min-width: 768px) {
  .mgmt-strip .wrap {
    align-items: center;
  }
}
.mgmt-strip .region p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .mgmt-strip .region {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .mgmt-strip .cta-region {
    text-align: right;
  }
}

.prev-next-race-nav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+50,23538a+50 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+50,23538a+50 */
  background: #a7cfdf;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a7cfdf 50%, #23538a 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #a7cfdf 50%, #23538a 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #a7cfdf 50%, #23538a 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 );
  /* IE6-9 */
}

.prev-next-race-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}
.prev-next-race-nav-list li {
  display: grid;
  align-items: center;
}
.prev-next-race-nav-list a {
  color: white;
  display: block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
.prev-next-race-nav-list a:hover {
  text-decoration: underline;
}
.prev-next-race-nav-list a.right {
  text-align: right;
}
.prev-next-race-nav-list a.prev {
  padding-left: 1.25rem;
}
.prev-next-race-nav-list a.prev:before {
  border-left: 0.2rem solid #505050;
  border-bottom: 0.2rem solid #505050;
  content: '';
  display: block;
  height: 0.3rem;
  left: 0;
  margin-top: -0.3rem;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 0.3rem;
}
.prev-next-race-nav-list a.next {
  padding-right: 1.25rem;
}
.prev-next-race-nav-list a.next:after {
  border-right: 0.2rem solid #303030;
  border-bottom: 0.2rem solid #303030;
  content: '';
  display: block;
  height: 0.3rem;
  margin-top: -0.3rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(-45deg);
  width: 0.3rem;
}
.prev-next-race-nav-list .date {
  display: block;
  font-size: 0.8rem;
}

p.alert {
  padding-left: 1.7rem;
  position: relative;
}
p.alert:before {
  background: red;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  content: '!';
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  height: 0.75rem;
  left: 0;
  line-height: 1;
  margin-top: -0.75rem;
  padding: 0.15rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 0.75rem;
}
p.alert.alert-medium:before {
  background: orange;
}

body {
  margin: 0;
  padding: 0 0 3rem 0;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  line-height: 1.35;
}

.pg-home_intro-section {
  background: #4b7dff;
  text-align: center;
}

.pg-home_races-section {
  background: #ddd;
}

/*# sourceMappingURL=style.css.map */
