<!-- templates/races/index.html -->

{% extends 'base.html' %}

{% block title %}{{ race.name }}{% endblock %}

{% block content %}

{% include "components/race-marquee.html" %}

<section>
  <div class="wrap">
    <header class="section-header region">
      <h2 class="section-title">Race Results</h2>
    </header>
    <div class="section-content region">
      {% if rows %}
      <table class="race-results-table">
        <thead>
            <tr>
                <th class="headstone">Place</th>
                <th class="rider">Rider</th>
                <th class="prospects">Prospects</th>
                <th class="points">Points</th>
            </tr>
        </thead>
        <tbody>
          {% if 'finishers' in rows %}
            {% for r in rows.finishers %}
              {% include "components/results-table-row.html" with status="" %}
            {% endfor %}
          {% endif %}
          {% if 'dnf' in rows %}
            {% for r in rows.dnf %}
              {% include "components/results-table-row.html" with status="dnf" %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
      {% else %}
        <p>Sorry, but there are no results for this race yet.</p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}