<!-- templates/races/index.html -->

{% extends 'base.html' %}

{% block title %}{{ race.name }}{% endblock %}

{% block content %}

<section class="race-marquee {{ race.slug }}">
  <div class="wrap">
    <div class="intro">
      <h1 class="title">{{ race.name }}</h1>
      <p class="dateline">{{ race.starts }}</p>
      <p>{{ race.description }}</p>
    </div>
    <div class="map">
      <a href="#" target="_blank" rel="noopener">View Map</a>
    </div>
    <div class="distance">
      {{ race.distance }}
    </div>
    <div class="start-city map-point">
      {{ race.start_city }}
    </div>
    <div class="end-city map-point">
      {{ race.end_city }}
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <header class="section-header region">
      <h2 class="section-title">Riders In This Race</h2>
    </header>
    <div class="section-content region">
      {% if rows %}
      <table>
        <thead>
            <tr>
                <th>Place</th>
                <th>Rider</th>
                <th>Prospects</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
          {% if 'finishers' in rows %}
            {% for r in rows.finishers %}
              {% include "components/results-table-row.html" with status="" %}
            {% endfor %}
          {% endif %}
          {% if 'dnf' in rows %}
            {% for r in rows.dnf %}
              {% include "components/results-table-row.html" with status="dnf" %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
      {% else %}
        <p>Sorry, but the rosters aren't ready for this race yet. Once they are, you'll be able to pick your racers using the button above.</p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}