<!-- templates/races/index.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<section>
  <div class="wrap">
    <header class="section-header region">
      <h2 class="section-title">Races</h2>
    </header>
    <div class="section-content region">
      {% if latest_races_list %}
        <ul>
          {% for race in latest_races_list %}
            <li>
              <h3><a href="{% url 'races:detail' race.slug %}">{{ race.name }}</a></li></h3>
              <p>{{ race.starts }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>No upcoming races</p>
      {% endif %}
    </div>
  </div>
</section>


{% endblock %}