<!-- templates/races/index.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section>
  <div class="wrap">
    <header class="section-header region">
      <h2 class="section-title">My Team(s)</h2>
    </header>
    <div class="section-content region">  
      {% if team_list %}
        <ul>
          {% for team in team_list %}
            <li>
              <h3><a href="#">{{ team.name }}</a></h3>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>You don't have any teams yet. <a href="{% url 'races:team_add' %}">Go add one.</a></p>
      {% endif %}
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <header class="section-header region">
      <h2 class="section-title">Races</h2>
    </header>
    <div class="section-content region">
      {% if race_list %}
        <ul>
          {% for race in race_list %}
            <li>
              <h3><a href="{% url 'races:race_show' race.slug %}">{{ race.name }}</a></li></h3>
              <p>{{ race.starts }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No upcoming races</p>
      {% endif %}
    </div>
  </div>
</section>


{% endblock %}