form {
    label {
        display: block;
    }
    .helptext {
        display: block;
        font-size: 0.8rem;
        margin: 0.5rem 0 0 0;
    }
}

.form-signup {
    ul {
        font-size: 0.8rem;
        margin: 0;
        padding: 0 0 0 1rem;
    }
}