p.alert {
    padding-left: 1.7rem;
    position: relative;
    &:before {
        background: red;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
        content: '!';
        display: block;
        font-size: 0.75rem;
        font-weight: bold;
        height: 0.75rem;
        left: 0;
        line-height: 1;
        margin-top: -0.75rem;
        padding: 0.15rem;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 0.75rem;
    }
    &.alert-medium:before {
        background: orange;
    }
}