.prev-next-race-nav {
    // background-image: linear-gradient(-90deg, red, yellow);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+50,23538a+50 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+50,23538a+50 */
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(left, #a7cfdf 50%, #23538a 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #a7cfdf 50%,#23538a 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #a7cfdf 50%,#23538a 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 */
}

    .prev-next-race-nav-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: grid;
            align-items: center;
        }
        a {
            color: white;
            display: block;
            padding: 1rem;
            position: relative;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.right {
                text-align: right;
            }
            &.prev {
                padding-left: 1.25rem;
                &:before {
                    border-left: 0.2rem solid #505050;
                    border-bottom: 0.2rem solid #505050;
                    content: '';
                    display: block;
                    height: 0.3rem;
                    left: 0;
                    margin-top: -0.3rem;
                    position: absolute;
                    top: 50%;
                    transform: rotate(45deg);
                    width: 0.3rem;
                }
            }
            &.next {
                padding-right: 1.25rem;
                &:after {
                    border-right: 0.2rem solid #303030;
                    border-bottom: 0.2rem solid #303030;
                    content: '';
                    display: block;
                    height: 0.3rem;
                    margin-top: -0.3rem;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: rotate(-45deg);
                    width: 0.3rem;
                }
            }
        }
        .date {
            display: block;
            font-size: 0.8rem;
        }
    }