.site-header {

    background: black;
    color: white;
    padding: 1rem 0;

    p {
        margin: 0;
    }

    a {
        color: white;
    }
}

.site-header_login-region {
    text-align: right;
}