$num_columns: 12;

.wrap {
    margin: 0 auto;
    padding: 0 1rem;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat($num_columns,1fr);
    
    @include responsive(35){
      padding: 0;
    }
}

@include responsive(1){

    .region {
        grid-column: span $num_columns;
        $span-slug: m1;
		@for $i from 1 to $num_columns {
		&.#{$span-slug}-#{$i} {
			grid-column: span $i
		}}
    }

}

@include responsive(2){

    .region {
        grid-column: span $num_columns;
        $span-slug: m2;
		@for $i from 1 to $num_columns {
		&.#{$span-slug}-#{$i} {
			grid-column: span $i
		}}
    }

}

@include responsive(35){

    .wrap {
        grid-gap: 2rem;
    }

}

@include responsive(3){

    $wrapWidth: 720px;
    $column: 40px;
    $gutter: 20px;
    
    .wrap {
        width: $wrapWidth;
    }

    .region {
        grid-column: span $num_columns;
        $span-slug: t;
		@for $i from 1 to $num_columns {
		&.#{$span-slug}-#{$i} {
			grid-column: span $i
		}}
    }
}
@include responsive(4){

    $wrapWidth: 960px;
    $column: 60px;
    $gutter: 20px;

    .wrap {
        width: $wrapWidth;
    }

    .region {
        grid-column: span $num_columns;
        $span-slug: d;
		@for $i from 1 to $num_columns {
		&.#{$span-slug}-#{$i} {
			grid-column: span $i
		}}
    }
}

@include responsive(5){

    $wrapWidth: 1176px;
    $column: 74px;
    $gutter: 24px;

    .wrap {
        width: $wrapWidth;
    }

    .region {
        grid-column: span $num_columns;
        $span-slug: w;
		@for $i from 1 to $num_columns {
		&.#{$span-slug}-#{$i} {
			grid-column: span $i
		}}
    }
}