

/* =============
BASICS
================ */

@import "base/color";
@import "base/mixins";
@import "base/breakpoints";
@import "base/grid";

/* =============
COMPONENTS
================ */

@import "components/race-marquee";
@import "components/footer";

body {
    margin: 0;
    padding: 0 0 3rem 0; // allows room for absolutely-positioned .site-footer element
    min-height: 100vh;
    position: relative;
}