

/* =============
BASICS
================ */

@import "base/color";
@import "base/mixins";
@import "base/breakpoints";
@import "base/grid";
@import "base/flexgrid";
@import "base/sections";

/* =============
COMPONENTS
================ */

@import "components/utilities";
@import "components/race-marquee";
@import "components/forms";
@import "components/footer";
@import "components/table";
@import "components/buttons";
@import "components/button-set";
@import "components/cards";
@import "components/my-teams-list";
@import "components/header";
@import "components/mgmt-strip";
@import "components/prev-next-race-nav";
@import "components/p-alert";
@import "components/tab-box";

body {
    margin: 0;
    padding: 0 0 3rem 0; // allows room for absolutely-positioned .site-footer element
    min-height: 100vh;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

p {
    line-height: 1.35;
}

@import "pages/home";